<form method="post" action="{{ path('app_election_delete', {'id': election.id}) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer cet election ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ election.id) }}">
    <button class="btn btn-danger">Supprimer l'election</button>
</form>